{% extends '../layout.html.twig' %}

{% block title %}{{title}}{% endblock %}

{% block body %}
    {{ component('navbar') }}
 <h1>Email confirmé! </h1>
    {{ component('footer') }}
{% endblock %}


