{% extends '../layout.html.twig' %}

{% block title %}{{title}}{% endblock %}

{% block body %}
    {{ component('navbar') }}
    <h1>Enregistrement good, Aller confirmer Email! </h1>
    {{ component('footer') }}
{% endblock %}


