{% extends 'layout.html.twig' %}

{% block title %}{{title}}{% endblock %}

{% block body %}
    {{ component('navbar') }}
<div class="contain-components">
    <h1>Nos recettes</h1>


            {{ component('pate_search', {
                class: 'pate-search'
            }) }}

</div>

    {{ component('footer') }}
{% endblock %}

