{% extends 'layout.html.twig' %}

{% block title %}{{title}}{% endblock %}

{% block body %}
    {{ component('navbar') }}
<div class="contain-components">
    <div class="barreHorizontaleTwo"></div>


</div>
    {{ component('footer') }}
{% endblock %}
