//Pallette couleur
//Accueil Back
//Section : Partagez experience
$TEST: #F2F3E6;
// Border forms
$border: rgba(77, 81, 84, 0.76);





//Font-family:
$test1 :  'Josefin Sans', sans-serif;
$test4 :  'Xanh Mono', monospace;
//Title PastEasy
$titleFont :  'Roboto Slab', serif;
//Title2 PastEasy
$subtitle : 'Lato', sans-serif;
//Navbar PastEasy
$navbarFont : 'Roboto', sans-serif;


