//Pallette couleur
//Accueil Back
//Section : Partagez experience
$backAccueilUn: #F2F3E6;
// Marron
$marronLight: #eee6d6;
$marronMedium: #c8b48f;
$marronDark: #625f48;
$marronLogo: #684034;
// Bleu
$blueNav: #DFFFFE;
$blueButton: #39EFEF;
$blueBorder: #157061;
//Font-family:
$test1 :  'Josefin Sans', sans-serif;
$test4 :  'Xanh Mono', monospace;
//Title PastEasy
$titleFont :  'Roboto Slab', serif;
//Title2 PastEasy
$subtitle : 'Lato', sans-serif;
//Navbar PastEasy
$navbarFont : 'Roboto', sans-serif;


