@import '../../node_modules/bootstrap/scss/bootstrap';

body {
    background-color: white;
}
.navbar-custom {
    width: 100%;
    margin: auto;
    position: fixed;
    z-index: 1;
    top: 0;
    backdrop-filter: blur(3px);
    ul {
        list-style-type: none;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: row;
        li {
            font-size: 3em;
        }
    }
    background: hsla(72, 77%, 95%, 0.36);
    background: linear-gradient(90deg, hsla(72, 77%, 95%, 0.36) 13%, hsla(12, 34%, 85%, 0.35) 100%);
    background: -moz-linear-gradient(90deg, hsla(72, 77%, 95%, 0.37) 13%, hsla(12, 34%, 85%, 0.44) 100%);
    background: -webkit-linear-gradient(90deg, hsla(72, 77%, 95%, 0.45) 13%, hsla(12, 34%, 85%, 0.45) 100%);
}
footer {
    backdrop-filter: blur(3px);
    position: fixed;
    height: auto;
    bottom: 0;
    border-top: 1px solid black;
    width: 100%;
    z-index: 1;
    right: 0;
    left: 0;
    p {
        text-decoration: none;
        color: black;
        white-space: nowrap;
        font-size: 1.4em;
        margin: 5%;
        text-align: center;
    }
    .template-footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: auto;
        .icones-footer {
            display: flex;
            align-items: end;
            justify-content: center;
            flex-direction: row;
            margin-left: 5%;
            margin-bottom: 2%;
            img {
                width: 9em;
                transition: 0.5s ease-in-out;
                &:hover {
                    filter: blur(2px);
                    transition: 0.5s ease-in-out;
                }
            }
        }
        .icones-contact {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            img {
                width: 5em;
                margin-right: 4%;
                margin-left: 4%;

                background-color: rgba(0, 0, 255, 0.24);
                border: 1px solid black;
                border-radius: 90%;
                padding: 4px;
                transition: 0.5s ease-in-out;
                cursor: pointer;
                &:hover {
                    filter: blur(2px);
                    transition: 0.5s ease-in-out;
                }
            }
        }
    }
}
.barreHorizontaleTwo {
    position: relative;
    width: 70%;
    background-color: black;
    height: 2px;
    float: top;
    margin: 0px auto 5%;
}
.contain-components {
    position:relative;
    margin-top: 10%;
    height: auto;
}