@import '../../node_modules/bootstrap/scss/bootstrap';
@import '_design.scss';

body {
    background-color: rgba(252, 249, 240, 0.6);
}
.navbar-custom {
    width: 100%;
    margin: auto;
    font-family: $navbarFont;
    font-weight: lighter;
    position: fixed;
    z-index: 3;
    top: 0;
    border-bottom: 1px solid black;
    backdrop-filter: blur(3.5px);
    ul {
        list-style-type: none;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: row;
        li {
            font-size: 3em;
            transition: all 0.6s ease-in-out;

            &:hover {
                transform: scale(1.2);
                transition: all 0.6s ease-in-out;
            }

            a {
                color: black;
                text-decoration: none;
                &:hover {
                    text-decoration: #FCE99F wavy underline 3px;
                }
            }
        }
    }
}
footer {
    backdrop-filter: blur(3px);
    position: fixed;
    height: auto;
    bottom: 0;
    border-top: 1px solid black;
    width: 100%;
    z-index: 2;
    right: 0;
    left: 0;
    p {
        text-decoration: none;
        color: black;
        white-space: nowrap;
        font-size: 1.4em;
        margin: 5%;
        text-align: center;
    }
    .template-footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: auto;
        .icones-footer {
            display: flex;
            align-items: end;
            justify-content: center;
            flex-direction: row;
            margin-left: 5%;
            margin-bottom: 2%;
            img {
                width: 9em;
                transition: 0.5s ease-in-out;
                &:hover {
                    filter: blur(2px);
                    transition: 0.5s ease-in-out;
                }
            }
        }
        .icones-contact {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            img {
                width: 5em;
                margin-right: 4%;
                margin-left: 4%;
                background-color: rgba(0, 0, 255, 0.24);
                border: 1px solid black;
                border-radius: 90%;
                padding: 4px;
                transition: 0.5s ease-in-out;
                cursor: pointer;
                &:hover {
                    filter: blur(2px);
                    transition: 0.5s ease-in-out;
                }
            }
        }
    }
}

.contain-components {
    position: relative;
    /*
        height: auto;
     */
    width: 90%;
    margin: 8% auto;
    @media screen and (max-width: 1000px) {
        margin: 12% auto;
    }
        h1 {
        font-size: 4em;
        margin-top: 5%;
        right: 15%;
        font-family: $subtitle;
        text-shadow: -2px -2px 7px rgba(0, 0, 0, 0.39);
        text-align: start;
    }
    .pate-search {
        width: 100%;
        margin: auto;
        .div-avant-boucle {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            flex-wrap: wrap;
            .recette-liste {
                width: 100%;
                margin: 5%;
                background-color: rgba(252, 237, 201, 0.6);
                border-radius: 10px;
                @media screen and (min-width: 1600px) {
                    width: 40%;
                }
                .liste-id {
                    display: flex;
                    justify-content: space-around;
                    flex-direction: column;
                    width: 100%;
                    margin: 4%;
                    .name-link {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        flex-direction: row;
                        margin-bottom: 2%;
                        h2 {
                            font-size: 3em;
                            text-align: end;
                            font-family: $subtitle;
                            color: #212121;
                            text-shadow: -2px -2px 7px rgba(0, 0, 0, 0.39);
                        }
                        button {
                            background: radial-gradient(circle at center, #dc8d1e , #dbdc74);
                            height: 7em;
                            width: 7em;
                            border-radius: 90%;
                            border: 1px solid black;
                            transition: all 0.6s ease-in-out;
                            &:hover {
                                transform: scale(1.2);
                                transition: all 0.6s ease-in-out;
                                background: radial-gradient(circle at center, #ffa200, #fdfec9);
                            }
                            a {
                                text-decoration: none;
                                text-shadow: -2px -2px 7px rgba(0, 0, 0, 0.39);
                                font-weight: bold;
                                font-family: $subtitle;
                                color: #1f1f1f;
                                &:hover {
                                    transform: scale(1.2);
                                    transition: all 0.6s ease-in-out;
                                    text-shadow: -2px -2px 7px rgba(255, 255, 255, 0.57);
                                }
                            }
                        }
                    }
                    .explain-picture {
                        justify-content: space-between;
                        display: flex;
                        align-items: center;
                        margin: 4%;
                        .explain {
                            h4 {
                                font-size: 1.5em;
                                text-align: start;
                                font-family: $subtitle;
                                color: #212121;
                                text-shadow: -1px -1px 4px rgba(0, 0, 0, 0.39);
                            }
                        }
                        img {
                            border: 1px solid black;
                            border-radius: 90%;
                            margin-left: 4%;
                            margin-right: 4%;
                            box-shadow: -1px -1px 4px rgba(0, 0, 0, 0.39);
                        }
                    }

                    .explain-note {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        flex-direction: row;
                        width: 80%;
                        margin: auto;
                        p {
                            text-align: center;
                            text-wrap: normal;
                            font-family: 'Arial ', sans-serif;

                        }
                    }
                }
            }

        }
        .input-search-recette {
            width: 20em;
            margin-bottom: 5%;
            font-size: larger;
            border-radius: 8px;
            border: 1px solid black;
            font-family: $test1;
            margin-left: 60%;
        }
    }
    .accueil-pasteasy {
        .back-carousel-accueil {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100%;
            background-color: #d7d9cf;

            .section-carousel {
                display: flex;
                align-items: center;
                flex-direction: column;
                margin-left: 5%;

                .carousel {
                    margin: 5% auto 5%;
                    width: 70%;
                    max-width: 70%;
                }

                .carousel-explain {
                    display: flex;
                    justify-content: end;
                    flex-direction: row;
                    align-items: center;

                    .explainCarousel {
                        display: flex;
                        justify-content: center;
                        align-items: end;
                        flex-direction: column;
                        margin-right: 5%;
                        margin-left: 5%;

                        h2 {
                            font-size: 4em;
                            text-align: end;
                            font-family: $subtitle;
                            text-shadow: -2px -2px 7px rgba(0, 0, 0, 0.39);
                        }

                        p {
                            text-align: end;
                            margin-top: 4%;
                            font-size: 1.5em;
                            font-family: $subtitle;
                            text-shadow: -1px -1px 5px rgba(0, 0, 0, 0.39);
                        }

                        button {
                            margin-right: 17%;
                            margin-top: 5%;
                            margin-bottom: 5%;
                        }
                    }
                }
            }
        }
        .back-partage-exp {
            background-position: center right 10%;
            background-repeat: no-repeat;
            background-size: 30% 75%;
            background-image: url("../../public/pic/desk/accueil/partagez-experience.jpg");
            margin-top: 20%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100%;
            background-color: #e5e7d3;
            z-index: 4;

            .partage-exp {
                display: flex;
                align-items: start;
                flex-direction: column;
                text-align: start;
                margin-left: 5%;

                h2 {
                    font-size: 4em;
                    margin-top: 5%;
                    font-family: $subtitle;
                    text-shadow: -2px -2px 7px rgba(0, 0, 0, 0.39);
                }

                p {
                    margin-top: 4%;
                    font-size: 1.5em;
                    font-family: $subtitle;
                    text-shadow: -1px -1px 5px rgba(0, 0, 0, 0.39);
                    width: 50%;
                }

                img {
                    margin-top: 4%;
                    width: 30%;
                    max-width: 30%;
                    margin-left: 8%;

                }

                button {
                    margin-left: 17%;
                    margin-top: 5%;
                    margin-bottom: 5%;
                }
            }
        }
        .back-securite {
            background-position: right 20% top 40%;
            background-repeat: no-repeat;
            background-size: 15% 50%;
            background-image: url("../../public/pic/desk/accueil/securitee.png");
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100%;
            background-color: #dae2ca;

            .secure {
                display: flex;
                align-items: start;
                flex-direction: column;
                text-align: start;
                margin-left: 5%;

                h2 {
                    font-size: 4em;
                    margin-top: 5%;
                    font-family: $subtitle;
                    text-shadow: -2px -2px 7px rgba(0, 0, 0, 0.39);
                }

                p {
                    margin-top: 4%;
                    font-size: 1.5em;
                    font-family: $subtitle;
                    text-shadow: -1px -1px 5px rgba(0, 0, 0, 0.39);
                    width: 50%;
                }

                .secure-pol-buttons {
                    width: 80%;
                    margin: 5% auto;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                }
            }
        }
    }
    .pate-id {
        .pate-id-content {
            width: 100%;
            display: flex;
            flex-direction: row;
            /*
            justify-content ?
             */
            align-items: start;
            img {
                max-width: 50%;
            }
            .pate-id-content-explain-ing {
                width: 90%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: end;
                h2 {
                    font-size: 4em;
                    text-align: end;
                    font-family: $subtitle;
                    color: #212121;
                    text-shadow: -2px -2px 7px rgba(0, 0, 0, 0.39);
                    margin-bottom: 5%;
                }
            }
        }
        .pate-id-content-step-desc {
            display: flex;
            align-items: start;
            justify-content: start;
            flex-direction: row;
            .vertical-line {
                margin-top: 5%;
            }
            .pate-id-content-step {
                display: flex;
                align-items: start;
                justify-content: center;
                flex-direction: column;
                margin-right: 4%;
                h3 {
                    font-size: 1.5em;
                    text-align: start;
                    font-family: $subtitle;
                    color: #212121;
                    text-shadow: -1px -1px 4px rgba(0, 0, 0, 0.39);
                }
                p {
                    text-align: start;
                }
            }
            .pate-id-content-desc {
                display: flex;
                align-items: end;
                justify-content: center;
                flex-direction: column;
                h3 {
                    font-size: 1.5em;
                    text-align: end;
                    font-family: $subtitle;
                    color: #212121;
                    text-shadow: -1px -1px 4px rgba(0, 0, 0, 0.39);
                }
                p {
                    text-align: end;
                    margin-top: 4%;
                    margin-left: 4%;
                }
            }
        }
    }

}



//forms
    //register
.background-register-form {
    .register-form {
        margin-top: 5%;
        width: 50%;
        margin-left: 15%;
    }
    label {
        margin-top: 2%;
        font-size: 1.5em;
        font-family: $subtitle;
        text-shadow: -1px -1px 5px rgba(0, 0, 0, 0.39);
        text-align: start;
    }
    .label-style {
        width: 90%;
    }
    button {
        margin: auto;
    }
    .terms-submit {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
}
    //connexion
.background-connexion-form {
    height: 60vh;
    width: 100%;
    display: block;
    position: relative;
    @media screen and (min-width: 1200px) {
        height: 70vh;
    }
    @media screen and (min-width: 1600px) {
        height: 80vh;
    }
    .connexion-form {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 60vh;
        form {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            flex-direction: column;
            label {
                margin-top: 2%;
                font-size: 1.5em;
                font-family: $subtitle;
                text-shadow: -1px -1px 5px rgba(0, 0, 0, 0.39);
                text-align: start;
            }
            input {
                margin-top: 1%;
                width: 25em;
                height: 2.2em;
                font-size: 1.5em;
                border: 1px solid $border;
                border-radius: 10px;

            }
            .button-list {
                display: flex;
                margin: 4% auto;
                align-items: center;
                justify-content: space-evenly;
                width: 60%;
                color: black;
                font-weight: bold;
            }
        }
    }
    .error-explain {
        background-color: rgba(226, 67, 67, 0.63);
        font-size: 1.2em;
        color: black;
        font-weight: bold;
    }
}
//Background Opacité réduite LOGIN
.background-connexion-form::after {
    content: "";
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
    background-image: url("../../public/pic/form/connexion-form.png");
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    opacity: 0.7;
}
//Background Opacité réduite REGISTER
.background-register-form::after {
    content: "";
    background-position: center right 10%;
    background-repeat: no-repeat;
    background-size: 40%;
    background-image: url("../../public/pic/form/register-form.jpg");
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    opacity: 0.4;
}






    //Custom
//Saut de page accueil
.sautDePage {
    height: 8em;
}
//Barre custom horizontale
.barreHorizontaleTwo {
    position: relative;
    width: 70%;
    background-color: black;
    height: 2px;
    float: top;
    margin: 2% auto 5%;
}
.barreHorizontaleOne {
    position: relative;
    width: 60%;
    background-color: rgba(223, 180, 59, 0.6);
    height: 1px;
    float: top;
    margin: 5% auto 5%;
}
//Barre custom verticale
.vertical-line{
    border-left: 2px solid #000;
    display: inline-block;
    height: 130px;
}


//Buttons
.button-custom-one {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    outline: inherit;
    color: #191919;
    transition: all 0.5s;
    position: relative;
    line-height: 50px;
    height: 50px;
    text-align: center;
    width: 250px;
    cursor: pointer;

}
.button-custom-one::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(99, 99, 99, 0.24);
    transition: all 0.3s;
}
.button-custom-one:hover::before {
    opacity: 0;
    transform: scale(0.5, 0.5);
}
.button-custom-one::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border: 1px solid rgba(11, 10, 10, 0.5);
    transform: scale(1.2, 1.2);

}
.button-custom-one:hover::after {
    opacity: 1;
    transform: scale(1, 1);
}
