<div class="navbar-custom">
<ul>
    <li><a href="#">Compte</a></li>
    <li><a href="{{ path('app_actu') }}">Actus</a></li>
    <li><a href="{{ path('app_liste_pate') }}">Recettes</a></li>
</ul>

</div>



<!--

Mon compte
Recettes
Actu
-->