
<div{{ attributes }}>

    <input
            class="input-search-recette"
            type="text"
            data-model="query"
            value="{{ query }}"
            placeholder="Rechercher une recette..."
    />
    <div class="div-avant-boucle">
    {% if query is empty  %}
        {% for pate in this.AllPates %}
            {{ component('pate', {
                id: pate.id
            }) }}
        {% endfor %}
    {% else %}
        {% for pate in this.pates %}
            {{ component('pate', {
                'id': pate.id
            }) }}
        {% endfor %}
    {% endif %}
    </div>
</div>


