{% extends 'layout.html.twig' %}

{% block title %}{{title}}{% endblock %}

{% block body %}
    {{ component('navbar') }}
    <div class="contain-components">
        <h1>PastEasy - Déjà connecté</h1>




    </div>
    {{ component('footer') }}
{% endblock %}
